@model TallerAPI.Models.Automovil

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombrePropietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombrePropietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numPlaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numVIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numVIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcionReparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcionReparacion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
